.Contacto{
    width: 85%;
    height: 92vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 8vh 0;
}

.contactTitle {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    background: linear-gradient(270deg, rgb(131, 181, 81), #132db3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.contacts{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}

.contacts:hover{
    transform: translateY(-3px);
}

.contact h3{
    text-align: center;
    color: #5c73e8;
}

.img{
    filter: invert(44%) sepia(10%) saturate(6484%) hue-rotate(205deg) brightness(97%) contrast(87%);
}