.Inicio{
    width: 85%;
    height: 92vh;  
    margin: auto;
    display: grid; 
    grid-template-columns: 65% 35%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
}

h1, h2{
    background: linear-gradient(270deg, rgb(131, 181, 81), #132db3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cv h1{
    font-size: 3rem;
    font-weight: 700;
}

.cv div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.button {
    --bg: rgb(131, 181, 81);
    --text-color: #132db3;
    position: relative;
    width: 150px;
    border: none;
    cursor: pointer;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: rgb(43, 56, 31) 0px 7px 2px, #000 0px 8px 5px;
  }
  
  .button:hover {
    opacity: 1;
  }
  
  .button:active {
    top: 4px;
    box-shadow: #132db3 0px 3px 2px,#000 0px 3px 5px;
  }

.full{
    width: 420px;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full h2{
    font-size: 3rem;
    text-align: center;
}

.full p{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    color:  rgb(131, 181, 81);
}

.full .adornos{
    display: flex;
    gap: 5px;
}

.full .adornos div{
    background-color: blue;
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.cv{
    width: 420px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}


  @media screen and (max-width:480px){

    .Inicio{        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 100%;
        grid-row-gap: 5px;
    }
    
    .cv{
        float: left;
        width: 100%;
        font-size: 30px;
    }
    .full{
        width: 100%;
        float: left;
        font-size: 25px;
    }
}